.subgenre-name {
    cursor: pointer;
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 1.75em;
}
.subgenre-name:hover {
    background-color: #efefef;
}
.subgenre-name p {
    transition: all .2s;
}
.subgenre-name:hover p {
    scale: .97;
    text-shadow: 0px 0px 20px #b49dca;
}


.subgenre-name:first-child {
    padding-top: .75em;
}
