.clear-icon {
    color: white;
    opacity: 0;
}

.menu-item-container {
    display: flex;
    min-height: 2.5em;
    margin-left: 3px;
}

.menu-list-item {
    cursor:pointer;
    padding: 8px 12px;
    display: flex;
    transition: all .2s;
}
.menu-list-item span {
    position: relative;
    right: 10px;
    bottom: 1.6px;
}
.menu-item-container:hover {
    background-color: whitesmoke;
}
.menu-list-item .genre-name {
    transition: all .2s;
}
.menu-list-item:hover .genre-name {
    transform: scale(1.1);
    font-weight: 600;
}
.subgenre-container {
    display: flex;
    flex-basis: 100%;
    min-width: 100%;
}
.subgenre-container li {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.menu-list-item ul {
    border-left: 1px solid #dbdbdb;
    margin: 0.75em;
    padding-left: 0.75em;
    margin-top: 22px;
    right: 14px;
    position: relative;
}

.chev {
    font-size: 11px;
    cursor: pointer;
    z-index: 1;
}
.chev:hover {
    font-weight: 600;
    color: #232323;
}

.menu-icon {
    position: absolute;
    margin-top: 7px;
    width: 2em;
    height: 1.5em;
}
