.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 78.5vh;

    .about-container-title {
        font-size: 45px;
        text-align: center;
        margin-top: 8vh;
        margin-bottom: 5vh;
        background: -webkit-linear-gradient(#B49DCA, #815E8F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .about-container-summary {
        color: #2e475d;
        font-size: 18px;
        text-align: center;
        align-self: center;
        width: 50%;
    }

    .about-container-bottom {
        display: flex;
        justify-content: center;
        align-self: center;
        justify-self: center;
        width: 70vw;
        margin-top: 5vh;
        
        .about-container-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 35vh;
            width: 15vw;
            margin: 2vw;
            transition: all .3s ease-in-out;

            .about-card-picture {
                height: 150px;
                width: 150px;
            }

            .about-card-title {
                background: -webkit-linear-gradient(#abc3dd, #007BFF);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-align: center;
                font-size: 25px;
            }

            .about-card-border {
                margin: 10px;
                text-align: center;
                height: 2px;
                width: 40%;
                border-radius: 4px;
                background: linear-gradient(145deg,#B49DCA,#815E8F);
                transition: width .5s ease-out;
            }

            .about-card-description {
                text-align: center;
                background: linear-gradient(145deg,#2e475d,#815E8F);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }
        }
    }
}

.about-container-card:hover .about-card-border {
    width: 60% !important;
}

.about-container-card:hover .cls-grouped {
    animation: blink infinite ease-in-out alternate;
}.about-container-card:hover .cls-grouped1 {
    animation: strobe1 infinite ease-in-out alternate;
}

.about-container-card:hover .cls2-grouped {
    animation: blink infinite ease-in-out alternate;
}.about-container-card:hover .cls2-grouped1 {
    animation: strobe2 infinite ease-in-out alternate;
}

.about-container-card:hover .cls3-grouped {
    animation: blink infinite ease-in-out alternate;
}.about-container-card:hover .cls3-grouped1 {
    animation: strobe3 infinite ease-in-out alternate;
}



@keyframes blink {
    0% {
        opacity: .9;
        stroke: #815E8F;
        transform: scale(1.03);
        stroke-width: 1px;
        // stroke-linecap: square;
    } 100% {
        opacity: 1;
        stroke: #007BFF;
        transform: scale(1);
        stroke-width: 2px;
        // stroke-linecap: round;
    }
}

@keyframes strobe1 {
    0% {
        opacity: .4;
    } 100% {
        opacity: .1;
    }
}
@keyframes strobe2 {
    0% {
        stroke-width: 2px;
        opacity: .5;

    } 100% {
        stroke-width: 9px;
        opacity: .2;
    }
}
@keyframes strobe3 {
    0% {
        stroke-width: 2px;
        opacity: .5;
        stroke-dasharray: 20;
        stroke-dashoffset: 5;
    } 100% {
        stroke-width: 9px;
        opacity: .2;
        stroke-dashoffset: 0;
    }
}
