.menu {
    min-width: 20%;
    max-width: 320px;
    padding: .75rem;
}

@media only screen and (max-width: 1248px) {
    .menu {
        padding-left: .2rem;
    }
}

@media only screen and (max-width: 1065px) {
    .menu {
        min-width: 212px;
    }
}

.menu-nav-container:hover .menu-label {
    color: #007bff;
    opacity: .8;
}

.genre-container:hover .menu-label {
    color: #007bff;
    opacity: .8;
}

li {
    list-style-type: none;
}

.menu-label {
    color: #363636;
    text-transform: uppercase;
    margin: 1em;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 7px;
    margin-bottom: 6px;
    margin-left: 5px;
    opacity: .5;
    transition: color .5s;
    transition: opacity 1.5s;
}

.menu-list {
    background-color: white;
    border-radius: 6px;
    /* box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); */
    box-shadow: 0 20px 20px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
    color: #4a4a4a;
    padding: 20px;
    padding-left: 10px;
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;
}

.menu-icon {
    display: inline-block;
    width: 2em;
    height: 1.5em;
}
.fas {
    z-index: 1;
    margin: 0 8px;
}

.menu-nav > i.fa-compass {
    transition: all .15s;
    z-index: 2;  
}
.menu-nav > i.fa-compass:hover {
    transform: rotate(180deg) translate(1.9px, .15px) scale(1.02);
}

.genre-name {
    position: absolute;
    left: 75px;
    margin-left: 0px;
}

@media only screen and (max-width: 1248px) {
    .genre-name {
        left: 45px;
    }
}
.hidden {
    display: none;
}

.menu-nav {
    color: #7a7a7a;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 0px !important;
}
.menu-nav > i {
    opacity: .8;
    transition: all .2s;
}
.menu-nav:hover {
    text-decoration: none;
}
.menu-nav:hover > i {
    color: #815e8f;
    transform: scale(1.02);
    opacity: .8;
}

.search-container {
    transform: translateX(-3px);
    display: flex;
    align-items: center;
}
