.menu {
    flex: none;
    width: 20%;
    padding: .75rem;
}

li {
    list-style-type: none;
}

.menu-label {
    color: #7a7a7a;
    text-transform: uppercase;
    margin: 1em;
    font-size: 16px;
    letter-spacing: 7px;
    margin-bottom: 6px;
    margin-left: 5px;
}

.menu-list {
    background-color: white;
    border-radius: 6px;
    /* box-shadow: 0 2px 3px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1); */
    box-shadow: 0 20px 20px rgba(10,10,10,0.1), 0 0 0 1px rgba(10,10,10,0.1);
    color: #4a4a4a;
    padding: 20px;
    padding-left: 10px;
}

.menu-list a {
    border-radius: 2px;
    color: #4a4a4a;
    display: block;
    padding: 0.5em 0.75em;
}

.menu-icon {
    display: inline-block;
    width: 2em;
    height: 1.5em;
}
.fas {
    z-index: 1;
}

.genre-name {
    position: absolute;
    left: 75px;
    margin-left: 0px;
}
.hidden {
    display: none;
}

.menu-nav {
    color: #7a7a7a;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 0px !important;
}
.menu-nav > i {
    opacity: .8;
    transition: all .2s;
}
.menu-nav:hover {
    text-decoration: none;
}
.menu-nav:hover > i {
    color: #007bff;
    transform: scale(1.02);
    opacity: .8;
}

.form-inline-menu {
    transform: translateX(-3px);
}